.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: 1%;
  margin-right: 1%;
}

.App-header {
  min-height: 6vh;
  display: flex;
  margin-top: 1%;
  flex-direction: row;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: #76839c;
  top: 0%;
}

.App-project-name {
  right: 1%;
  justify-content: right;
  position: fixed;
}

.App-footer {
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(0.4px + 2vmin);
  color: #76839c;
  position: fixed;
  bottom: 0%;
  left: 5%;
  right: 5%;
}

.container {
  flex-direction: column;
}

.images .result {
  display: inline-block;
  margin: 1%;
  width: 48%;
}

.App-link {
  color: #61dafb;
}

.App-text {
  margin-left: 0.3%;
}
