.icons {
  display: grid;
  position: fixed;
  grid-auto-rows: auto;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-right: 1pt #76839c;
  height: 80%;
  margin-left: 10%;
}

.icons .item {
  flex-direction: column;
  align-self: center;
}

.icons .item .icon {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-size: 1.6em;
  background: #fff;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

.item-name {
  margin-top: 0.5rem;
  font-size: 0.7em;
  user-select: all;
  overflow: hidden;
  
}

.icons .item:hover .icon {
  color: #e91e63;
  border-color: #e91e63;
}

.icons .item:hover .item-name {
  color: #e91e63;
}





